# envs & caches
.venv*/ 
venv*/ 
.env*/ 
__pycache__/ 
.pytest_cache/

*.log
*.pt *.pth *.pkl *.bin *.ckpt *.onnx
wandb/
mlruns/
outputs/

# logs
*.log
logs/

# keep broker_stops.json tracked
!config/broker_stops.json

# ignore secrets
config/*.secrets.json
.env
models/checkpoints_long/long_policy_ckpt_40000_steps.zip
models/checkpoints_long/long_policy_ckpt_80000_steps.zip
models/checkpoints_long/long_policy_ckpt_120000_steps.zip
models/checkpoints_long/long_policy_ckpt_160000_steps.zip
models/checkpoints_long/long_policy_ckpt_200000_steps.zip
models/checkpoints_long/long_policy_ckpt_240000_steps.zip
models/checkpoints_long/long_policy_ckpt_280000_steps.zip
models/checkpoints_long/long_policy_ckpt_320000_steps.zip
models/checkpoints_long/long_policy_ckpt_360000_steps.zip
models/checkpoints_long/long_policy_ckpt_400000_steps.zip
models/checkpoints_long/long_policy_ckpt_440000_steps.zip
models/checkpoints_long/long_policy_ckpt_480000_steps.zip
models/checkpoints_long/long_policy_ckpt_520000_steps.zip
models/checkpoints_long/long_policy_ckpt_560000_steps.zip
models/checkpoints_long/long_policy_ckpt_600000_steps.zip
models/checkpoints_long/long_policy_ckpt_640000_steps.zip
models/checkpoints_long/long_policy_ckpt_680000_steps.zip
models/checkpoints_long/long_policy_ckpt_720000_steps.zip
models/checkpoints_long/long_policy_ckpt_760000_steps.zip
models/checkpoints_long/long_policy_ckpt_800000_steps.zip
models/checkpoints_long/long_policy_ckpt_840000_steps.zip
models/checkpoints_long/long_policy_ckpt_880000_steps.zip
models/checkpoints_long/long_policy_ckpt_920000_steps.zip
models/checkpoints_long/long_policy_ckpt_960000_steps.zip
models/checkpoints_long/long_policy_ckpt_1000000_steps.zip
models/checkpoints_long/long_policy_ckpt_1040000_steps.zip
models/checkpoints_long/long_policy_ckpt_1080000_steps.zip
models/checkpoints_long/long_policy_ckpt_1120000_steps.zip
models/checkpoints_long/long_policy_ckpt_1160000_steps.zip
models/checkpoints_long/long_policy_ckpt_1200000_steps.zip
models/checkpoints_long/long_policy_ckpt_1240000_steps.zip
models/checkpoints_long/long_policy_ckpt_1280000_steps.zip
models/checkpoints_long/long_policy_ckpt_1320000_steps.zip
models/checkpoints_long/long_policy_ckpt_1360000_steps.zip
models/checkpoints_long/long_policy_ckpt_1400000_steps.zip
models/checkpoints_long/long_policy_ckpt_1440000_steps.zip
models/checkpoints_long/long_policy_ckpt_1480000_steps.zip
models/checkpoints_long/long_policy_ckpt_1520000_steps.zip
models/checkpoints_long/long_policy_ckpt_1560000_steps.zip
models/checkpoints_long/long_policy_ckpt_1600000_steps.zip
models/checkpoints_long/long_policy_ckpt_1640000_steps.zip
models/checkpoints_long/long_policy_ckpt_1680000_steps.zip
models/checkpoints_long/long_policy_ckpt_1720000_steps.zip
models/checkpoints_long/long_policy_ckpt_1760000_steps.zip
models/checkpoints_long/long_policy_ckpt_1800000_steps.zip
models/checkpoints_long/long_policy_ckpt_1840000_steps.zip
models/checkpoints_long/long_policy_ckpt_1880000_steps.zip
models/checkpoints_long/long_policy_ckpt_1920000_steps.zip
models/checkpoints_long/long_policy_ckpt_1960000_steps.zip
models/checkpoints_long/long_policy_ckpt_2000000_steps.zip
models/checkpoints_long/long_policy_ckpt_2040000_steps.zip
models/checkpoints_long/long_policy_ckpt_2080000_steps.zip
models/checkpoints_long/long_policy_ckpt_2120000_steps.zip
models/checkpoints_long/long_policy_ckpt_2160000_steps.zip
models/checkpoints_long/long_policy_ckpt_2200000_steps.zip
models/checkpoints_long/long_policy_ckpt_2240000_steps.zip
models/checkpoints_long/long_policy_ckpt_2280000_steps.zip
models/checkpoints_long/long_policy_ckpt_2320000_steps.zip
models/checkpoints_long/long_policy_ckpt_2360000_steps.zip
models/checkpoints_long/long_policy_ckpt_2400000_steps.zip
models/checkpoints_long/long_policy_ckpt_2440000_steps.zip
models/checkpoints_long/long_policy_ckpt_2480000_steps.zip
models/checkpoints_long/long_policy_ckpt_2520000_steps.zip
models/checkpoints_long/long_policy_ckpt_2560000_steps.zip
models/checkpoints_long/long_policy_ckpt_2600000_steps.zip
models/checkpoints_long/long_policy_ckpt_2640000_steps.zip
models/checkpoints_long/long_policy_ckpt_2680000_steps.zip
models/checkpoints_long/long_policy_ckpt_2720000_steps.zip
models/checkpoints_long/long_policy_ckpt_2760000_steps.zip
models/checkpoints_long/long_policy_ckpt_2800000_steps.zip
models/checkpoints_long/long_policy_ckpt_2840000_steps.zip
models/checkpoints_long/long_policy_ckpt_2880000_steps.zip
models/checkpoints_long/long_policy_ckpt_2920000_steps.zip
models/checkpoints_long/long_policy_ckpt_2960000_steps.zip
models/checkpoints_long/long_policy_ckpt_3000000_steps.zip
models/checkpoints_long/long_policy_ckpt_3040000_steps.zip
models/checkpoints_long/long_policy_ckpt_3080000_steps.zip
models/checkpoints_long/long_policy_ckpt_3120000_steps.zip
models/checkpoints_long/long_policy_ckpt_3160000_steps.zip
models/checkpoints_long/long_policy_ckpt_3200000_steps.zip
models/checkpoints_long/long_policy_ckpt_3240000_steps.zip
models/checkpoints_long/long_policy_ckpt_3280000_steps.zip
models/checkpoints_long/long_policy_ckpt_3320000_steps.zip
models/checkpoints_long/long_policy_ckpt_3360000_steps.zip
models/checkpoints_long/long_policy_ckpt_3400000_steps.zip
models/checkpoints_long/long_policy_ckpt_3440000_steps.zip
models/checkpoints_long/long_policy_ckpt_3480000_steps.zip
models/checkpoints_long/long_policy_ckpt_3520000_steps.zip
models/checkpoints_long/long_policy_ckpt_3560000_steps.zip
models/checkpoints_long/long_policy_ckpt_3600000_steps.zip
models/checkpoints_long/long_policy_ckpt_3640000_steps.zip
models/checkpoints_long/long_policy_ckpt_3680000_steps.zip
models/checkpoints_long/long_policy_ckpt_3720000_steps.zip
models/checkpoints_long/long_policy_ckpt_3760000_steps.zip
models/checkpoints_long/long_policy_ckpt_3800000_steps.zip
models/checkpoints_long/long_policy_ckpt_3840000_steps.zip
models/checkpoints_long/long_policy_ckpt_3880000_steps.zip
models/checkpoints_long/long_policy_ckpt_3920000_steps.zip
models/checkpoints_long/long_policy_ckpt_3960000_steps.zip
models/checkpoints_long/long_policy_ckpt_4000000_steps.zip
models/checkpoints_long/long_policy_ckpt_4040000_steps.zip
models/checkpoints_long/long_policy_ckpt_4080000_steps.zip
models/checkpoints_long/long_policy_ckpt_4120000_steps.zip
models/checkpoints_long/long_policy_ckpt_4160000_steps.zip
models/checkpoints_long/long_policy_ckpt_4200000_steps.zip
models/checkpoints_long/long_policy_ckpt_4240000_steps.zip
models/checkpoints_long/long_policy_ckpt_4280000_steps.zip
models/checkpoints_long/long_policy_ckpt_4320000_steps.zip
models/checkpoints_long/long_policy_ckpt_4360000_steps.zip
models/checkpoints_long/long_policy_ckpt_4400000_steps.zip
models/checkpoints_long/long_policy_ckpt_4440000_steps.zip
models/checkpoints_long/long_policy_ckpt_4480000_steps.zip
models/checkpoints_long/long_policy_ckpt_4520000_steps.zip
models/checkpoints_long/long_policy_ckpt_4560000_steps.zip
models/checkpoints_long/long_policy_ckpt_4600000_steps.zip
models/checkpoints_long/long_policy_ckpt_4640000_steps.zip
models/checkpoints_long/long_policy_ckpt_4680000_steps.zip
models/checkpoints_long/long_policy_ckpt_4720000_steps.zip
models/checkpoints_long/long_policy_ckpt_4760000_steps.zip
models/checkpoints_long/long_policy_ckpt_4800000_steps.zip
models/checkpoints_long/long_policy_ckpt_4840000_steps.zip
models/checkpoints_long/long_policy_ckpt_4880000_steps.zip
models/checkpoints_long/long_policy_ckpt_4920000_steps.zip
models/checkpoints_long/long_policy_ckpt_4960000_steps.zip
models/checkpoints_long/long_policy_ckpt_5000000_steps.zip
models/checkpoints_long/long_policy_ckpt_5040000_steps.zip
models/checkpoints_long/long_policy_ckpt_5080000_steps.zip
models/checkpoints_long/long_policy_ckpt_5120000_steps.zip
models/checkpoints_long/long_policy_ckpt_5160000_steps.zip
models/checkpoints_long/long_policy_ckpt_5200000_steps.zip
models/checkpoints_long/long_policy_ckpt_5240000_steps.zip
models/checkpoints_long/long_policy_ckpt_5280000_steps.zip
models/checkpoints_long/long_policy_ckpt_5320000_steps.zip
models/checkpoints_long/long_policy_ckpt_5360000_steps.zip
models/checkpoints_long/long_policy_ckpt_5400000_steps.zip
models/checkpoints_long/long_policy_ckpt_5440000_steps.zip
models/checkpoints_long/long_policy_ckpt_5480000_steps.zip
models/checkpoints_long/long_policy_ckpt_5520000_steps.zip
models/checkpoints_long/long_policy_ckpt_5560000_steps.zip
models/checkpoints_long/long_policy_ckpt_5600000_steps.zip
models/checkpoints_long/long_policy_ckpt_5640000_steps.zip
models/checkpoints_long/long_policy_ckpt_5680000_steps.zip
models/checkpoints_long/long_policy_ckpt_5720000_steps.zip
models/checkpoints_long/long_policy_ckpt_5760000_steps.zip
models/checkpoints_long/long_policy_ckpt_5800000_steps.zip
models/checkpoints_long/long_policy_ckpt_5840000_steps.zip
models/checkpoints_long/long_policy_ckpt_5880000_steps.zip
models/checkpoints_long/long_policy_ckpt_5920000_steps.zip
models/checkpoints_long/long_policy_ckpt_5960000_steps.zip
models/checkpoints_long/long_policy_ckpt_6000000_steps.zip
models/checkpoints_long/long_policy_ckpt_6040000_steps.zip
models/checkpoints_long/long_policy_ckpt_6080000_steps.zip
models/checkpoints_long/long_policy_ckpt_6120000_steps.zip
models/checkpoints_long/long_policy_ckpt_6160000_steps.zip
models/checkpoints_long/long_policy_ckpt_6200000_steps.zip
models/checkpoints_long/long_policy_ckpt_6240000_steps.zip
models/checkpoints_long/long_policy_ckpt_6280000_steps.zip
models/checkpoints_long/long_policy_ckpt_6320000_steps.zip
models/checkpoints_long/long_policy_ckpt_6360000_steps.zip
models/checkpoints_long/long_policy_ckpt_6400000_steps.zip
models/checkpoints_long/long_policy_ckpt_6440000_steps.zip
models/checkpoints_long/long_policy_ckpt_6480000_steps.zip
models/checkpoints_long/long_policy_ckpt_6520000_steps.zip
models/checkpoints_long/long_policy_ckpt_6560000_steps.zip
models/checkpoints_long/long_policy_ckpt_6600000_steps.zip
models/checkpoints_long/long_policy_ckpt_6640000_steps.zip
models/checkpoints_long/long_policy_ckpt_6680000_steps.zip
models/checkpoints_long/long_policy_ckpt_6720000_steps.zip
models/checkpoints_long/long_policy_ckpt_6760000_steps.zip
models/checkpoints_long/long_policy_ckpt_6800000_steps.zip
models/checkpoints_long/long_policy_ckpt_6840000_steps.zip
models/checkpoints_long/long_policy_ckpt_6880000_steps.zip
models/checkpoints_long/long_policy_ckpt_6920000_steps.zip
models/checkpoints_long/long_policy_ckpt_6960000_steps.zip
models/checkpoints_long/long_policy_ckpt_7000000_steps.zip
models/checkpoints_long/long_policy_ckpt_7040000_steps.zip
models/checkpoints_long/long_policy_ckpt_7080000_steps.zip
models/checkpoints_long/long_policy_ckpt_7120000_steps.zip
models/checkpoints_long/long_policy_ckpt_7160000_steps.zip
models/checkpoints_long/long_policy_ckpt_7200000_steps.zip
models/checkpoints_long/long_policy_ckpt_7240000_steps.zip
models/checkpoints_long/long_policy_ckpt_7280000_steps.zip
models/checkpoints_long/long_policy_ckpt_7320000_steps.zip
models/checkpoints_long/long_policy_ckpt_7360000_steps.zip
models/checkpoints_long/long_policy_ckpt_7400000_steps.zip
models/checkpoints_long/long_policy_ckpt_7440000_steps.zip
models/checkpoints_long/long_policy_ckpt_7480000_steps.zip
models/checkpoints_long/long_policy_ckpt_7520000_steps.zip
models/checkpoints_long/long_policy_ckpt_7560000_steps.zip
models/checkpoints_long/long_policy_ckpt_7600000_steps.zip
models/checkpoints_long/long_policy_ckpt_7640000_steps.zip
models/checkpoints_long/long_policy_ckpt_7680000_steps.zip
models/checkpoints_long/long_policy_ckpt_7720000_steps.zip
models/checkpoints_long/long_policy_ckpt_7760000_steps.zip
models/checkpoints_long/long_policy_ckpt_7800000_steps.zip
models/checkpoints_long/long_policy_ckpt_7840000_steps.zip
models/checkpoints_long/long_policy_ckpt_7880000_steps.zip
models/checkpoints_long/long_policy_ckpt_7920000_steps.zip
models/checkpoints_long/long_policy_ckpt_7960000_steps.zip
models/checkpoints_long/long_policy_ckpt_8000000_steps.zip
models/checkpoints_long/long_policy_ckpt_8040000_steps.zip
models/checkpoints_long/long_policy_ckpt_8080000_steps.zip
models/checkpoints_long/long_policy_ckpt_8120000_steps.zip
models/checkpoints_long/long_policy_ckpt_8160000_steps.zip
models/checkpoints_long/long_policy_ckpt_8200000_steps.zip
models/checkpoints_long/long_policy_ckpt_8240000_steps.zip
models/checkpoints_long/long_policy_ckpt_8280000_steps.zip
models/checkpoints_long/long_policy_ckpt_8320000_steps.zip
models/checkpoints_long/long_policy_ckpt_8360000_steps.zip
models/checkpoints_long/long_policy_ckpt_8400000_steps.zip
models/checkpoints_long/long_policy_ckpt_8440000_steps.zip
models/checkpoints_long/long_policy_ckpt_8480000_steps.zip
models/checkpoints_long/long_policy_ckpt_8520000_steps.zip
models/checkpoints_long/long_policy_ckpt_8560000_steps.zip
models/checkpoints_long/long_policy_ckpt_8600000_steps.zip
models/checkpoints_long/long_policy_ckpt_8640000_steps.zip
models/checkpoints_long/long_policy_ckpt_8680000_steps.zip
models/checkpoints_long/long_policy_ckpt_8720000_steps.zip
models/checkpoints_long/long_policy_ckpt_8760000_steps.zip
models/checkpoints_long/long_policy_ckpt_8800000_steps.zip
models/checkpoints_long/long_policy_ckpt_8840000_steps.zip
models/checkpoints_long/long_policy_ckpt_8880000_steps.zip
models/checkpoints_long/long_policy_ckpt_8920000_steps.zip
models/checkpoints_long/long_policy_ckpt_8960000_steps.zip
models/checkpoints_long/long_policy_ckpt_9000000_steps.zip
models/checkpoints_long/long_policy_ckpt_9040000_steps.zip
models/checkpoints_long/long_policy_ckpt_9080000_steps.zip
models/checkpoints_long/long_policy_ckpt_9120000_steps.zip
models/checkpoints_long/long_policy_ckpt_9160000_steps.zip
models/checkpoints_long/long_policy_ckpt_9200000_steps.zip
models/checkpoints_long/long_policy_ckpt_9240000_steps.zip
models/checkpoints_long/long_policy_ckpt_9280000_steps.zip
models/checkpoints_long/long_policy_ckpt_9320000_steps.zip
models/checkpoints_long/long_policy_ckpt_9360000_steps.zip
models/checkpoints_long/long_policy_ckpt_9400000_steps.zip
models/checkpoints_long/long_policy_ckpt_9440000_steps.zip
models/checkpoints_long/long_policy_ckpt_9480000_steps.zip
models/checkpoints_long/long_policy_ckpt_9520000_steps.zip
models/checkpoints_long/long_policy_ckpt_9560000_steps.zip
models/checkpoints_long/long_policy_ckpt_9600000_steps.zip
models/checkpoints_long/long_policy_ckpt_9640000_steps.zip
models/checkpoints_long/long_policy_ckpt_9680000_steps.zip
models/checkpoints_long/long_policy_ckpt_9720000_steps.zip
models/checkpoints_long/long_policy_ckpt_9760000_steps.zip
models/checkpoints_long/long_policy_ckpt_9800000_steps.zip
models/checkpoints_long/long_policy_ckpt_9840000_steps.zip
models/checkpoints_long/long_policy_ckpt_9880000_steps.zip
models/checkpoints_long/long_policy_ckpt_9920000_steps.zip
models/checkpoints_long/long_policy_ckpt_9960000_steps.zip
models/checkpoints_long/long_policy_ckpt_10000000_steps.zip
models/checkpoints_long/long_policy_last.zip
models/checkpoints_long/long_policy.zip
ticks/csv/AUDCAD_ticks.csv
ticks/csv/AUDCHF_ticks.csv
ticks/csv/AUDJPY_ticks.csv
ticks/csv/AUDNZD_ticks.csv
ticks/csv/AUDUSD_ticks.csv
ticks/csv/AUDUSD_ticks.csv.lock
ticks/csv/CADCHF_ticks.csv
ticks/csv/CADJPY_ticks.csv
ticks/csv/CADSGD_ticks.csv
ticks/csv/CHFJPY_ticks.csv
ticks/csv/CHFSGD_ticks.csv
ticks/csv/EURAUD_ticks.csv
ticks/csv/EURCAD_ticks.csv
ticks/csv/EURCHF_ticks.csv
ticks/csv/EURCNH_ticks.csv
ticks/csv/EURGBP_ticks.csv
ticks/csv/EURJPY_ticks.csv
ticks/csv/EURNZD_ticks.csv
ticks/csv/EURUSD_ticks.csv
ticks/csv/GBPAUD_ticks.csv
ticks/csv/GBPCAD_ticks.csv
ticks/csv/GBPCHF_ticks.csv
ticks/csv/GBPDKK_ticks.csv
ticks/csv/GBPJPY_ticks.csv
ticks/csv/GBPNZD_ticks.csv
ticks/csv/GBPUSD_ticks.csv
ticks/csv/NZDCAD_ticks.csv
ticks/csv/NZDCHF_ticks.csv
ticks/csv/NZDHUF_ticks.csv
ticks/csv/NZDJPY_ticks.csv
ticks/csv/NZDSGD_ticks.csv
ticks/csv/NZDUSD_ticks.csv
ticks/csv/SGDJPY_ticks.csv
ticks/csv/USDCAD_ticks.csv
ticks/csv/USDCHF_ticks.csv
ticks/csv/USDCNH_ticks.csv
ticks/csv/USDCZK_ticks.csv
ticks/csv/USDHUF_ticks.csv
ticks/csv/USDJPY_ticks.csv
ticks/csv/USDMXN_ticks.csv
ticks/csv/USDNOK_ticks.csv
ticks/csv/USDPLN_ticks.csv
ticks/csv/USDSEK_ticks.csv
ticks/csv/USDSGD_ticks.csv
ticks/csv/USDTRY_ticks.csv
ticks/csv/USDZAR_ticks.csv
ticks/csv/XAGEUR_ticks.csv
ticks/csv/XAGUSD_ticks.csv
ticks/csv/XAUAUD_ticks.csv
ticks/csv/XAUEUR_ticks.csv
ticks/csv/XAUUSD_ticks.csv
ticks/csv/ZARJPY_ticks.csv
ticks/jsonl/AUDCAD_ticks.jsonl
ticks/jsonl/AUDCHF_ticks.jsonl
ticks/jsonl/AUDJPY_ticks.jsonl
ticks/jsonl/AUDNZD_ticks.jsonl
ticks/jsonl/AUDUSD_ticks.jsonl
ticks/jsonl/CADCHF_ticks.jsonl
ticks/jsonl/CADJPY_ticks.jsonl
ticks/jsonl/CADSGD_ticks.jsonl
ticks/jsonl/CHFJPY_ticks.jsonl
ticks/jsonl/CHFSGD_ticks.jsonl
ticks/jsonl/EURAUD_ticks.jsonl
ticks/jsonl/EURCAD_ticks.jsonl
ticks/jsonl/EURCHF_ticks.jsonl
ticks/jsonl/EURCNH_ticks.jsonl
ticks/jsonl/EURGBP_ticks.jsonl
ticks/jsonl/EURJPY_ticks.jsonl
ticks/jsonl/EURNZD_ticks.jsonl
ticks/jsonl/EURUSD_ticks.jsonl
ticks/jsonl/GBPAUD_ticks.jsonl
ticks/jsonl/GBPCAD_ticks.jsonl
ticks/jsonl/GBPCHF_ticks.jsonl
ticks/jsonl/GBPDKK_ticks.jsonl
ticks/jsonl/GBPJPY_ticks.jsonl
ticks/jsonl/GBPNZD_ticks.jsonl
ticks/jsonl/GBPUSD_ticks.jsonl
ticks/jsonl/NZDCAD_ticks.jsonl
ticks/jsonl/NZDCHF_ticks.jsonl
ticks/jsonl/NZDHUF_ticks.jsonl
ticks/jsonl/NZDJPY_ticks.jsonl
ticks/jsonl/NZDSGD_ticks.jsonl
ticks/jsonl/NZDUSD_ticks.jsonl
ticks/jsonl/SGDJPY_ticks.jsonl
ticks/jsonl/USDCAD_ticks.jsonl
ticks/jsonl/USDCHF_ticks.jsonl
ticks/jsonl/USDCNH_ticks.jsonl
ticks/jsonl/USDCZK_ticks.jsonl
ticks/jsonl/USDHUF_ticks.jsonl
ticks/jsonl/USDJPY_ticks.jsonl
ticks/jsonl/USDMXN_ticks.jsonl
ticks/jsonl/USDNOK_ticks.jsonl
ticks/jsonl/USDPLN_ticks.jsonl
ticks/jsonl/USDSEK_ticks.jsonl
ticks/jsonl/USDSGD_ticks.jsonl
ticks/jsonl/USDTRY_ticks.jsonl
ticks/jsonl/USDZAR_ticks.jsonl
ticks/jsonl/XAGEUR_ticks.jsonl
ticks/jsonl/XAGUSD_ticks.jsonl
ticks/jsonl/XAUAUD_ticks.jsonl
ticks/jsonl/XAUEUR_ticks.jsonl
ticks/jsonl/XAUUSD_ticks.jsonl
ticks/jsonl/ZARJPY_ticks.jsonl
models/checkpoints_long/long_policy_best.zip
data/minute/AUDCAD.csv
data/ohlc_cache.pkl
data/minute/AUDCHF.csv
data/minute/AUDJPY.csv
data/minute/AUDNZD.csv
.gitignore
data/minute/AUDUSD.csv
data/minute/CADCHF.csv
data/minute/CADJPY.csv
data/minute/CADSGD.csv
data/minute/CHFJPY.csv
data/minute/CHFSGD.csv
data/minute/EURAUD.csv
data/minute/EURCAD.csv
data/minute/EURCHF.csv
data/minute/EURGBP.csv
data/minute/EURJPY.csv
data/minute/EURNZD.csv
data/minute/EURUSD.csv
data/minute/GBPAUD.csv
data/minute/GBPCAD.csv
data/minute/GBPCHF.csv
data/minute/GBPJPY.csv
data/minute/GBPNZD.csv
data/minute/GBPUSD.csv
data/minute/NZDCAD.csv
data/minute/NZDCHF.csv
data/minute/NZDHUF.csv
data/minute/NZDJPY.csv
data/minute/NZDSGD.csv
data/minute/NZDUSD.csv
data/minute/SGDJPY.csv
data/minute/USDCAD.csv
data/minute/USDCHF.csv
data/minute/USDCNH.csv
data/minute/USDHUF.csv
data/minute/USDJPY.csv
data/minute/USDMXN.csv
data/minute/USDSGD.csv
data/minute/USDZAR.csv
data/minute/XAGEUR.csv
data/minute/XAGUSD.csv
data/minute/XAUAUD.csv
data/minute/XAUEUR.csv
data/minute/XAUUSD.csv
data/minute/ZARJPY.csv
